@mixin display-flex(
	$dir: row,
	$wrap: nowrap,
	$just: space-between,
	$align: center
) {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: $dir;
	justify-content: $just;
	align-items: $align;
}

@mixin Responsive($size) {
	@if $size == SM {
		@media only screen and(min-width : $SM) {
			@content;
		}
	} @else if $size == MD {
		@media only screen and(min-width : $MD) {
			@content;
		}
	} @else if $size == LG {
		@media only screen and(min-width : $LG) {
			@content;
		}
	} @else if $size == XL {
		@media only screen and(min-width : $XL) {
			@content;
		}
	} @else if $size == XXL {
		@media only screen and(min-width : $XXL) {
			@content;
		}
	}
}
