$background-color: #fff;
$menu-font-color: #314584;
$button-font-color: #ff3946;
$paragraph-font-color: #6e757a;

$bar-background: #0a1931;
$bar-color: #ffc947;
$box-shadow-color: #e2e5e5;
$input-bg: #f4fafe;
$input-color: #464e90;

// TODO : Font
$font-size-base: 1.4rem;
$font-size-level-1: 5rem;
$font-size-level-2: 3.5rem;
$font-size-level-3: 3rem;
$font-size-level-4: 2rem;
$font-size-level-5: 1.2rem;
$font-size-level-6: 0.8rem;

// TODO : Size device
$SM: 375px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
$XXL: 1320;
